body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.login-container {
    background-color: #00ccd3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
}
.Logo {
    width: 150px; /* Definindo a largura desejada */
    height: auto; /* Mantendo a proporção da imagem */
    align-self:center;
    margin-left: 25%;
}


.login-container h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    color: #333;
    align-items: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-container .signup-link {
    text-align: center;
    margin-top: 15px;
}

.login-container .signup-link a {
    color: #f7f8f8;
    text-decoration: none;
}
