/* Tela de Login */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura para ocupar a tela inteira */
    background-color: #f3f3f3;
}

.login-container {
    background-color: #00ccd3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5vw; /* Ajusta o preenchimento com base na largura da tela */
    max-width: 400px; /* Define a largura máxima para garantir que não ultrapasse a largura da tela */
    margin: 30px auto; /* Centraliza horizontalmente */
}

.Logo {
    width: 50%; /* Define a largura como 50% para garantir que seja responsiva */
    height: auto; 
    display: block; 
    margin-bottom: 20px; /* Adiciona espaço entre a imagem e outros elementos */
    margin: 0 auto;
}

.login-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: medium;
}

.label-float {
    position: relative;
    margin-bottom: 20px;
}

.label-float input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
}

.label-float label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    background-color: #00ccd3; /* Background to match the container */
    padding: 0 5px; /* Padding to avoid label text overlapping with input border */
}

.label-float input:focus ~ label,
.label-float input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 10px;
    font-size: 12px;
    color: #007bff;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #f7f8f8;
    text-decoration: none;
}

button {
    background-color: transparent;
    border-color: #03a0a5;
    color: #ffffff;
    padding: 20px;
    font-weight: 800; /* Corrigido de 'font: weight 800px' para 'font-weight: 800' */
    font-size: 15pt;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%; /* Ajuste para 100% para se adaptar ao contêiner pai */
}

button:hover {
    background-color: #062a77;
    color: #fff;
}

/* Adicionando media queries para tornar o layout responsivo */
@media screen and (max-width: 600px) {
    .login-container {
        max-width: 90%; /* Define uma largura máxima menor para telas menores */
        padding: 5%;
    }

    .Logo {
        width: 50%; /* Ajusta a largura da logo para telas menores */
    }

    .label-float input {
        width: calc(100% - 20px); /* Garantir que o tamanho dos inputs se ajuste corretamente */
    }

    button {
        width: calc(100% - 20px); /* Ajusta a largura do botão para telas menores */
    }
}